<footer class="h-auto w-100 d-flex align-items-center justify-content-center">
    <div class="container h-auto">
        <div class="footergrid">
            <div class="footercard p-2 d-lg-block d-sm-flex">
                <div class="h3 w-100"> Prati</div>
                <ul class="pratite p-0">
                    <li> <a href="https://www.who.int/"> WHO/SZO</a> </li>
                    <li> <a href="https://www.thelancet.com/"> Lancet </a> </li>
                    <li> <a href="https://www.ncbi.nlm.nih.gov/pubmed/"> PubMed </a> </li>
                    <li> <a href="https://www.cdc.gov/">CDC</a> </li>               
                 </ul>
            </div>
            <div class="footercard pl-lg-4 d-lg-block d-sm-flex">
                <div class="mozda w-100">
                    <div class="w-100 h3 mt-2"> Pretplati se </div>
                    <div class="padajuci w-100">
                        <input id="MIV" type="text" class="full text-center w-100" placeholder="Email ">
                        <button class="pretplati w-100" onclick="alert('Stranica u izradi!')" type="submit"><span><label for="MIV">Pretplati se</label> </span></button>
                    </div>
                </div>
                <div class="mozda w-100">
                    <div class="h3 w-100 mt-2"> Doniraj!</div>
                    <div class="padajuci w-100">
                        <input id="MIV" type="text" class="full text-center w-100" placeholder="Email ">
                        <button class="pretplati" onclick="alert('Stranica u izradi!')" type="submit"><span><label for="MIV">Pretplati se</label> </span></button>
                    </div>
                </div>
            </div>
            <div class="footercard p-lg-2 d-flex justify-content-lg-end align-items-center justify-content-sm-center f-lg-right">
                <div class="socmed d-flex justify-content-sm-center">
                    <ul class="social-network social-circle ">
                        <li><a href="#" class="icoFacebook" title="Facebook" ng-click="kaFejsu()"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="upbutton d-flex align-items-center justify-content-center" ng-click="scrollGore()"><i class="fas fa-long-arrow-alt-up"></i></div>
</footer>
<div class="copyr w-100">Copyright © 2019 by NasaMalaPraksa.com</div>