<footer class="h-auto w-100 d-flex align-items-center justify-content-center" ng-controller="footCtrl">
    <div class="container h-auto">
        <div class="footergrid">
            <div class="footercard p-2 d-lg-block d-sm-flex">
                <div class="h3 w-100"> Prati</div>
                <ul class="pratite p-0">
                    <li> <a href="https://www.who.int/"> WHO/SZO</a> </li>
                    <li> <a href="https://www.thelancet.com/"> Lancet </a> </li>
                    <li> <a href="https://www.ncbi.nlm.nih.gov/pubmed/"> PubMed </a> </li>
                    <li> <a href="https://www.cdc.gov/">CDC</a> </li>               
                 </ul>
            </div>
            <div class="footercard pl-lg-4 d-lg-block d-sm-flex">
                <div class="mozda w-75 float-right">
                    <div class="w-100 h3 mt-2"> Pretplati se <i class="fas fa-angle-down float-right"></i></div>
                    <div class="padajuci w-100">
                        <input id="MIV" ng-model="subEmail" type="text" class="full text-center w-100" placeholder="Email ">
                        <button class="pretplati w-100" ng-click="pretplata()" type="submit"><span><label for="MIV">Subscribe</label> </span></button>
                    </div>
                </div>
                <div class="mozda w-75 float-right">
                    <div class="h3 w-100 mt-2"> Doniraj! <i class="fas fa-angle-down float-right"></i></div>
                    <div class="padajuci w-100">
                        <input id="MIV2" type="text" class="full text-center w-100" placeholder="Email ">
                        <button class="pretplati w-100" onclick="alert('Stranica u izradi!')" type="submit"><span><label for="MIV2">Doniraj</label> </span></button>
                    </div>
                </div>
            </div>
            <div class="footercard p-lg-2 d-flex justify-content-lg-end align-items-center justify-content-sm-center f-lg-right">
                <div class="socmed d-flex justify-content-sm-center">
                    <ul class="social-network social-circle ">
                        <li><a href="#" class="icoFacebook" title="Facebook" ng-click="kaFejsu()"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="upbutton d-flex align-items-center justify-content-center" ng-click="scrollGore()"><i class="fas fa-long-arrow-alt-up"></i></div>
</footer>
<div class="copyr w-100 text-center"> 
    <span class="text-center mx-auto">Copyright © 2019 by NasaMalaPraksa.com</span> 
    <a href="/newpost" class="pr-3 float-right"><i class="fas fa-user-secret"></i></a> 

    <a href ng-click="openCustomer()" class="pr-3 float-right" ng-show="false"><i class="fas fa-user-secret"></i></a> 
    <a href ng-click="closeCustomer()" class="pr-3 float-right" ng-show="false"><i class="fas fa-sign-out-alt"></i></a>
</div>