<header>
    <div class="container p-0 col-12">
        <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-white">
            <a class="navbar-brand" title="Nazad na glavnu" href="/" ng-click="sakriveno()"><img alt="logo stranice" src="../images/Brand.png"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-between align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center" >
                    <li class="nav-item active">
                        <a class="nav-link" href="/" ng-click="sakriveno()">Glavna</a>
                  	</li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/mitovi" ng-click="sakriveno()">Mitovi</a>
                  	</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" ng-click="pokazano()">O Nama</a>
                    </li>
                    <li class="nav-item" ng-show="false">
                        <a class="nav-link" href="/newpost" ng-click="sakriveno()">Novi post</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
                    <div class="searchbar">
                        <input ng-change="filterSrch()" id="srchBtn" class="search_input" ng-model="nadjiPost" type="text" name="" ng-change="pretrazivanje()" placeholder="Search...">
                        <a href="#" class="search_icon"><label for="srchBtn"><i class="fas fa-search text-danger" ng-click='showAll()'></i></label></a>
                    </div>
                    <ul id="srchResults" class="list-group position-absolute col-lg-4 col-8 my-5" style="height: 400px; overflow-x:auto" ng-if="nadjiPost != ''"></ul>
                </ul>
            </div>
        </nav>
    </div>
    <div class="drzacbanera">
        <img src="/images/banner.gif" id="slikabaner" class="W-100 col-sm-12 m-0 p-0 slikabaner"/>
    </div>
</header>
