<div ng-controller="postCtrl"  class="col-12 px-0 mx-0">
    <div class="col-12 px-0 mx-0"  ng-controller="mainCtrl" >
    
        <h1 class="posth1" ng-bind-html="trustAsHtml(podaci.NASLOV)"></h1> <!--naslov-->
    
        <h4 class="posth4" ng-bind-html="trustAsHtml(podaci.INTRO)"></h4> <!--intro-->
        
        <div class="postcontainer">
            <img class="slika" alt="{{podaci.ALT}}" ng-src="../images/{{podaci.SLIKA}}" title="{{podaci.ALT}}"/>
            <p class="imgalt">{{podaci.ALT}}</p> <!--opis slike-->
        </div>
        
        <div ng-repeat="p in podaci.PITANJA.records" class="animated" ng-class="finished ? 'bounceOut hideForm' : bounceIn" ng-init="initTiny()" >
            <div ng-hide=true >
                <h2 class="d-flex justify-content-end posth2">
                    <i class="fas fa-edit mx-1" ng-click="editQuest(p.PITANJEID,p.UPITNICA,p.UVOD,p.ODGOVOR)"></i>
                    <i class="fas fa-trash-alt mx-1" ng-click="removeQuest(p.PITANJEID)"></i>
                </h2>
            </div>
            <h2 class="posth2"  ng-bind-html="trustAsHtml(p.UPITNICA)"></h2> <!--pitanje-->
            <h4 class="posth4" ng-bind-html="trustAsHtml(p.UVOD)"></h4> <!--kratki uvod nakon pitanja-->
            <p ng-bind-html="trustAsHtml(p.ODGOVOR)"></p> <!--ovdje je tekst posta-->
        </div>
        <div ng-if="logID != ''" class="col-12 my-3 text-center" ng-class="finished ? 'bounceIn delay-1s' : 'bounceOut hideForm'">
            <div class="col-12 form-group">
                <h5 class="text-center">Pitanje</h5>
                <input ng-model="pitanje" type="text" class="col-12 form-control" placeholder="Sta je to... Lecenje... Simptomi...">
            </div>
            <div class="col-12 form-group">
                <h5 class="text-center">Kratak uvod</h5>
                <textarea id="opis" class="tinymce"></textarea>
            </div>
            <div class="col-12 form-group">
                <h5 class="text-center">Opis problema</h5>
                <textarea id="problem" class="tinymce"></textarea>
            </div>
            <button type="submit" ng-click="cancelEdit()" class="btn btn-warning mx-auto my-3 col-4">Cancel</button>
            <button type="submit" ng-click="uploadEdit()" class="btn btn-info mx-auto my-3 col-4">Update</button>
        </div>
        <p class="autor">28.01.2019. | Mladen  </p>
    </div>
    
    <div class="col-12">
        <div class="comments-container">
            <h1>Komentari</h1>
    
            <ul id="comments-list" class="comments-list">
                <li ng-repeat="komentar in komentari">
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar"><img class="bg-white" ng-src="../images/anonymous-mask.png" alt=""></div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"></h6>
                                <span>{{komentar.DATUM}}</span>
                                <i class="fa fa-reply" ng-click="pokazi = true"> Odgovori</i>
                            </div>
                            <div class="comment-content">
                                {{komentar.TEKST}}
                            </div>
                        </div>
                    </div>
                    <div class="create_new_comment mx-5 my-2" id="{{komentar.KOMENTARID}}" ng-show="pokazi">
    
                        <img class="col-1 rounded-circle" src="../images/comment-avatar.png">
                        <textarea class="input_comment col-8 form-control" id="id{{komentar.KOMENTARID}}" ng-model="podkomentarTxt" placeholder="Odgovori na komentar..."></textarea>
                        <button class="btn btn-info btn-sm" ng-click="noviPodKom(komentar.KOMENTARID)">Posalji</button>
                        <button class="btn btn-warning btn-sm" ng-click="pokazi = false; podkomentarTxt= ''">Otkazi</button>
                    </div>
                    <!-- Respuestas de los comentarios -->
                    <ul class="comments-list reply-list" ng-repeat="podkom in komentar.PODKOMENTARI.podkomentar">
                        <li>
                            <!-- Avatar -->
                            <div class="comment-avatar"><img class="bg-white" ng-src="../images/anonymous-avatar-png.png" alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <span>{{podkom.DATUM}}</span>
                                </div>
                                <div class="comment-content">
                                    {{podkom.TEKST}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>
            <div class="m-lg-3 m-0  px-0 col-12">
                <div class="create_new_comment text-center">
    
                    <img class="col-1 rounded-circle" src="../images/comment-avatar.png">
                    <textarea class="input_comment col-lg-9 col-12 form-control" ng-model="komentarTxt" placeholder="Prikljuci se konverzaciji..."></textarea>
                    <button class="btn btn-info btn-sm  my-lg-0 my-2" ng-click="noviKom(podaci.ID)">Posalji</button>
                </div>
            </div>
        </div>
    </div>
</div>