<div class="onamawrapper">
    <div class="onamaslika celija w-100"><img src="/images/onamalijevo.png"/></div>
    <div class="onamatxt celija"><span>O NAMA</span>
        <p>Mladen i Vladimir su željeli da svoje prijateljstvo i svoje profesionalno znanje udruže
            i kreiraju veb prezentaciju, koja će biti od koristi svim čitaocima, koji se tu pronađu iz puke znatiželje 
            ili onima koju su pretraživali simptome koji ih muče. Smisao ove veb stranice jeste da se pruže jasne, tačne i ispravne informacije
            o najčešćim ili najzanimljivijim medicinskim stanjima. Sve to upakovano 
            u prijatan i funkcionalan interfejs naše stranice. Nadamo se da ćete na ovom mestu doći do informacija potrebnih 
            da sebi stvorite osnovnu sliku o vašem zdravlju. Svakako da dijagnozu problema, dalje savetovanje i lečenje, treba da nastavite kod svog izabranog lekara. 
            U planu nam je da stalno obogaćujemo našu bazu podataka novim saznanjima iz oblasti medicine.</p></div>
    <div class="onamacilj celija">
        <span>O VLADIMIRU</span> 
        <p>Vladimir je programer, developer, koji je svoje stručno znanje uložio u kreiranje većeg dela koda za ovu veb stranicu. 
        Trenutno je na master studijima i nada se da će radom na ovoj veb prezentaciji uspeti sa vama da podeli umeće kreiranja jednostavnog, 
        a što funkcionalnijeg korisničkog iskustva. 
        Kroz svoje iskustvo i edukacije iz oblasti srodnih medicini, Vladimir će učestvovati u pisanju članaka i davanju saveta čitaocima NaseMalePrakse.</p>
        <span>O MLADENU</span>
        <p>Mladen je doktor medicine, koji se radom s pacijentima u primarnoj zdravstvenoj zaštiti bavi već preko pet godina. Takođe je doktorand biomedicinskih nauka. 
        U slobodno vreme, voli da pisanjem blogova, deli svoje medicinsko znanje sa drugim ljudima u svrhu rešavanja zdravstvenih nedoumica. 
        S tim u cilju, rodila se želja za kreiranjem ove veb stranice, koja je nastavak prethodnog rada na sličnom blogu.</p></div>
    <div class="onamakontakt celija"><span>PIŠITE NAM</span>
        <div class="contactForm d-block" ng-controller="contactCtrl">
            <form method="POST" action="https://formspree.io/mladen.ish@gmail.com" target="_blank">
                <h4>Email </h4>
                <input class="unos" type="email" name="email" placeholder="email@primer.com" required ng-model="contMejl">
                <h4>Message</h4>
                <textarea name="message" class="w-100" placeholder="" required ng-model="contPoruka"> </textarea>
                <input class="pretplati" class="w-100 f-right" type="submit" name="submit" value="Pošalji" ng-click="posaljiMejl()">
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>